VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://uxnhfyianxtstodqctam.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_BayX_jzhH-doy3ateL41wQ_gSJygsx-
VITE_DATABASE_PASSWORD=ee2fVd5BDmfDaA2c